*{
    box-sizing: border-box;
}

:root{
    --header-color: blue;
    --text-color: white;
}

body{
    display: flex;
    background-color: gray;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
    flex-direction: column;
    justify-content: flex-start;
}

header{
    padding: 40px;
    text-align: center;
}

h1{
    color: var(--header-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  

.snippet{
    flex: 0 0 400px;
    padding: 20px;
    border: 2px solid black;
}

.snippet p:active{
    color: red;
}



@media screen and (max-width: 992px) {

  }
  
@media screen and (max-width: 768px) {

  }

@media screen and (max-width: 576px) {

  }
  